.slick-slider {
    margin-right: 20px;
    margin-left: 20px;
    font-family: Helvetica;
    color: #333;
}

.slick-prev,
.slick-next {
    top: 40%;
}

.slick-disabled {
    opacity: 0.5;
}

.slick-next {
    transform: rotate(45deg);
    right: -20px;
    border-top: 4px solid #006341;
    border-right: 4px solid #006341;
}

.slick-next::before,
.slick-prev::before {
    content: '';
}

.slick-prev {
    transform: rotate(-135deg);
    left: -20px;
    border-top: 4px solid #006341;
    border-right: 4px solid #006341;
}

.slick-slide {
    overflow: hidden;
}

.carousel-item {
    display: block !important;
    width: auto !important;
    margin: 6px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}

.carousel-item p {
    margin: 8px;
}

.carousel-item:focus {
    outline: 0;
}

.carousel-item-selected {
    border-color: #006341;
    box-shadow: inset 0px 0px 0px 1px #006341;
    font-weight: bold;
}

.carousel-item-disabled {
    opacity: 0.75;
    background: #eee;
    color: #a9a9a9;
}
